<br>
<div *ngIf = "user.hasVoted">
  <h3>{{ user.mail }}{{ texts.vote.title.hasVoted }}</h3>
</div>
<div *ngIf = "!user.hasVoted">
  <h3>{{ texts.vote.title.hasNotVoted }} {{ user.mail }}</h3>
</div>
<p innerHtml="{{ texts.vote.texts.description }}"></p>
<br>
<button (click)="refreshData()" class="btn btn-info btn-lg btn-block">{{ texts.buttons.refresh }}</button>
<div *ngIf="alert.message != ''">
  <div [class]="alert.type" role="alert">{{ alert.message }}</div>
</div>
<table *ngIf = "votingList.question && !user.hasVoted" class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">{{ texts.vote.table.title }}</th>
    <th scope="col">{{ texts.vote.table.description }}</th>
    <th scope="col">{{ texts.vote.table.voteToSelect }}</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>{{ votingList.question.id }}</td>
    <td>{{ votingList.question.title }}</td>
    <td>{{ votingList.question.description }}</td>
    <td class="overflow-hidden">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" (click)="setYes()" class="btn btn-info">{{ texts.vote.table.yes }}</button>
        <button type="button" (click)="setNo()" class="btn btn-info">{{ texts.vote.table.no }}</button>
        <button type="button" (click)="setAbstention()" class="btn btn-secondary">{{ texts.vote.table.abstention }}</button>
      </div>
      <br>
      {{ texts.vote.table.selectedVote }}: {{ votingList.selected }}
    </td>
  </tr>
  </tbody>
</table>
<div *ngIf = "votingList.question && !user.hasVoted">
    <label for="check"> {{ texts.vote.form.confirm }}
      <input id="check" [(ngModel)]="checked" [hidden]="false"  type="checkbox">
    </label>
    <button *ngIf = "checked && votingList.selected" (click)="vote()" class="btn btn-success btn-lg btn-block">{{ texts.vote.form.button }}{{ votingList.selected }}</button>
</div>
<br>
<br>
<br>
<br>

