<br>
<div *ngIf="alert.message != ''">
  <div [class]="alert.type" role="alert">{{ alert.message }}</div>
</div>
<div *ngIf = "user.hasVoted">
  <h3>{{ user.mail }}{{ texts.vote.title.hasVoted }}</h3>
</div>
<div *ngIf = "!user.hasVoted">
  <h3>{{ texts.vote.title.hasNotVoted }} {{ user.mail }}</h3>
</div>
<p innerHtml="{{ texts.vote.texts.description }}"></p>
<br>
<button (click)="refreshData()" class="btn btn-info btn-lg btn-block">{{ texts.buttons.refresh }}</button>
<div *ngIf = "question && !user.hasVoted" class="card text-center">
  <div class="card-header">
    #{{ question.id }}: {{ question.title }}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ texts.vote.table.title }}</h5>
    <p class="card-text">{{ question.description }}</p>
    <form [formGroup]="voteForm">
      <div class="form-check form-check-inline">
        <input class="form-check-input" formControlName="vote" type="radio" id="inlineRadio1" value="yes">
        <label class="form-check-label" for="inlineRadio1">{{ texts.vote.table.yes }}</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" formControlName="vote" type="radio" id="inlineRadio2" value="no">
        <label class="form-check-label" for="inlineRadio2">{{ texts.vote.table.no }}</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" formControlName="vote" type="radio" id="inlineRadio3" value="abstention">
        <label class="form-check-label" for="inlineRadio3">{{ texts.vote.table.abstention }}</label>
      </div>
    </form>
  </div>
  <div class="card-footer text-muted">
    <div *ngIf = "question && !user.hasVoted" class="form-check">
      <input id="check" [(ngModel)]="checked" type="checkbox" class="form-check-input">
      <label for="check"> {{ texts.vote.form.confirm }}</label>
    </div>
    <button [disabled]="!checked || !voteForm.value.vote" (click)="vote(question.id, voteForm.value.vote)" class="btn btn-success btn-lg btn-block">{{ texts.vote.form.button }}</button>
  </div>
</div>
<br>
<br>
<br>
<br>

